# Environmental Variables
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache

# Node
node_modules/
dist/
build/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
